
</div>
<!-- <div class="footer-padding" id="outer"></div>
  <div class="footer" id="inner">
    <p style="color: white">Made by Vaibhav Sharma</p>
  </div> -->

<div id="foot">
  <p> text </p>
  </div>

</body>
</html>
